**EXERCISE 1**

The goal of this exercise is to get into some first contact with Python, Pandas data frames, and the many opportunities how to quickly generate static charts from data frames.

For the first exercise, load the provided CSV file, do some data cleaning, and check if your cleaning operation was successful using visualization. For inspiration, browse through some Kaggle notebooks. The original data was downloaded from Kaggle. 

The main purpose of the notebook is to preprocess the CSV file for further visualization. The following steps have to be performed: 

Read the three CSV using Pandas. See the pandas.read_csv documentation to check how to parse the CSV correctly! Merge the two datasets player_data_per_36_min.csv and players.csv into one table. Add a team_name column to your new data frame based on the team_id column retrieving the name from the teams.csv dataset. You should now have a table that includes player info from players.csv, and players performance statistics from player_data_per_36_min.csv, and the team’s name from teams.csv. (3 points)
Take care of missing values. Sci-kit learn provides different data imputation methods. Remove unusable rows or columns, if necessary.  If the player has no current team, replace the empty value with "Retired".
(Hint: You may need to impute before you completely filter your dataframe. You need to make an educated judgment). (3 points)
Create two new tables: one that groups rows based on player_id, another that groups rows based on team_id. (2 points)
Visualize the data (twice). Every submitted notebook should contain at least two visualizations using at least two different Python visualization libraries. One visualization for each of the new tables (aggregated players or aggregated teams). A list of the most wide-spread Python visualization libraries can be found in this article. You must concisely describe and explain each visualization and your decisions in a Markdown field. You will not receive the points for this task if you did not add a description/explanation. (max. 5 points per visualization)
Save the resulting tables (the cleaned player_data_per_36_min and the two new aggregated tables) as CSV. To be sure that the data is correctly saved, you can load it again. You will have to work with these tables for the second exercise. (2 points)
Possible visualizations include, but are not limited to: 

Scatterplots and scatterplot matrices
Parallel coordinates
Radar charts
Bar charts
Box plots and histograms 
Choropleth maps
...

In [48]:
import pandas as pd
import numpy as np

In [10]:
players = pd.read_csv("data/players.csv")
teams = pd.read_csv("data/teams.csv")
player_data_per_36_min = pd.read_csv("data/player_data_per_36_min.csv")

In [25]:
player_data_per_36_min[player_data_per_36_min.duplicated()==True]

Empty DataFrame
Columns: [id, player_id, season, total_games, games_started, minutes_played, fg, fga, fgp, fg3, fg3a, fg3p, fg2, fg2a, fg2p, ft, fta, ftp, orb, drb, trb, ast, stl, blk, tov, pf, pts]
Index: []

[0 rows x 27 columns]

In [31]:
player_data_per_36_min.shape

(26674, 27)

In [32]:
players[players.duplicated()==True]

Empty DataFrame
Columns: [id, name, full_name, position, height, weight, birth_date, birth_place, retired, player_url, current_team_id, teams, text]
Index: []

In [33]:
players.shape

(4820, 13)

In [27]:
teams[teams.duplicated()==True]

Empty DataFrame
Columns: [team_id, team_name, short_name, years, total_games, total_wins, total_losses, win_loss_percentage, champions, other_names, link, active]
Index: []

In [34]:
teams.shape

(52, 12)

In [36]:
df1 = players.merge(player_data_per_36_min, how='right', left_on='id', right_on='player_id')

In [40]:
df2 = df1.merge(teams[['team_name', 'team_id']], how='left', left_on='current_team_id', right_on='team_id')

In [43]:
df2[df2['retired']==True]['team_name'] = 'Retired'

/var/folders/w0/86lwcyc50g9ff5l5cz0_99kc0000gn/T/ipykernel_10637/3396360410.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[df2['retired']==True]['team_name'] = 'Retired'

In [42]:
df2['retired']

0         True
1         True
2         True
3         True
4         True
         ...
26669    False
26670    False
26671    False
26672    False
26673    False
Name: retired, Length: 26674, dtype: bool